# This is a sample configuration file for red.
#
# The configuration file is a TOML file. The configuration file is read from
# the following locations:
#
# 1. $XDG_CONFIG_HOME/red/config.toml
# 2. $HOME/.config/red/config.toml
# 

# Name of the VSCode theme to use. The theme file should be present in the
# themes directory: $XDG_CONFIG_HOME/red/themes or $HOME/.config/red/themes
theme = "mocha.json"

# The number of lines to scroll when using the mouse wheel
mouse_scroll_lines = 3

# The full path to the log file. If the log file is not present, red will
# create it. If the log file is present, red will append to it.
# This setting is optional, if not present, red will not log anything.
log_file = "/tmp/red.log"

# When this setting is either absent or set to true, red will show
# diagnostics in the log file. When set to false, red will not show
# them.
# show_diagnostics = true 

[keys.insert]
Enter = "InsertNewLine"
Backspace = "DeletePreviousChar"
Tab = "InsertTab"
Esc = { EnterMode = "Normal" }

[keys.normal]
"w" = [ "MoveToNextWord" ]
"b" = [ "MoveToPreviousWord" ]
"o" = [ "InsertLineBelowCursor", { EnterMode = "Insert" } ]
"O" = [ "InsertLineAtCursor", { EnterMode = "Insert" } ]
"G" = "MoveToBottom"
"g" = { "g" = "MoveToTop", "d" = "GoToDefinition" }
"u" = "Undo"
"p" = [ "MoveUp", "MoveRight" ]
"Down" = "MoveDown"
"Left" = "MoveLeft"
"Right" = "MoveRight"
"Up" = "MoveUp"
"k" = "MoveUp"
"j" = "MoveDown"
"h" = "MoveLeft"
"l" = "MoveRight"
"0" = "MoveToLineStart"
"Home" = "MoveToLineStart"
"$" = "MoveToLineEnd"
"End" = "MoveToLineEnd"
"Ctrl-b" = "PageUp"
"Ctrl-f" = "PageDown"
"x" = "DeleteCharAtCursorPos"
"d" = { "d" = "DeleteCurrentLine", "b" = "DumpBuffer", "w" = "DeleteWord" }
"z" = { "z" = "MoveLineToViewportCenter" }
"n" = [ "FindNext" ]
"N" = [ "FindPrevious" ]
"a" = [{ EnterMode = "Insert" }, "MoveRight" ]
"i" = { EnterMode = "Insert" }
";" = { EnterMode = "Command" }
":" = { EnterMode = "Command" }
"/" = { EnterMode = "Search" }
" " = { "n" = "NextBuffer", "p" = "PreviousBuffer" }
"Ctrl-p" = "FilePicker"
"K" = "Hover"

[keys.command]
Esc = { EnterMode = "Normal" }

[keys.search]
Esc = { EnterMode = "Normal" }

[commands]
"write" = "Save"
"quit" = "Quit"
